$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;
$light-gray: #F0E6D9;
$text-color:       #333323;
$background-color: #FFF9EC;
$brand-color:      #91BEB6;

// Color scheme for light
$body-bg: #FFF9EC;
$projectbox: #91BEB6;
$text-color: #333;

// Color scheme for dark modes
$body-bg-dark: #061725;
$projectbox-dark: lighten($body-bg-dark, 10%);
$text-color-dark: #777;

// Colour palette for project boxes
$theme1: ("one",#388087),("two", #91BEB6),("three",#BADFE7),("four",#C2EDCE),("five",#F6F6F2);
$theme2: ("one",#FFF9EC),("two", #91BEB6),("three",#8A9EA7),("four",#DAB692),("five",#8f6934);
$theme3: ("one",#91BEB6),("two", #C4DEED),("three",#97C8D6),("four",#EEAB74),("five",#FFF9EC), ("six",#F5A280);
